<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h1>Categorias</h1>
      <%= form_tag root_path, method: :get do %>
      <%= select_tag :query, options_for_select(@categories), include_blank: true, class: "form-control"%>
      <%= submit_tag "Search ", class: "btn btn-primary" %>
      <% end %>
		  </div>

			<div class="col-sm-9">
				<div class="container">
					<div class="row">
					<% @products.each do |product| %>
						<div class="col-sm-4 card-style">	
							<div class="card">

								<% if product.photo.attached? %>
									<%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
								<% else %>
									<div class="card-img-top">
										<img src="<%= image_path("logo.png") %>" class="card-img-top" style="height: 120px; margin-top: 80px;" alt="...">
									</div>
								<% end %>
							  <div class="card-body">
							    <h5 class="card-title text-center"><%= product.title %></h5>
							    <a href="<%= product_path(product.id) %>" class="btn btn-primary d-flex justify-content-center">Show more!</a>
							  </div>
							</div>
						</div>
						
						<% end %>
					</div>
				</div>
			</div>
	</div>
</div>