<div class="container col-md-6 login-page" style="height: 85vh">
  <h2 class="login-center d-flex">Bem vindo ao Celecup!</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "form-space" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", class: "p-3"} %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", 
         class: "btn #f0b7a1 btn-block" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
