<div class="container" style="height: 85vh">
  <%= simple_form_for @product do |f| %>
    <%= f.input :title, as: :text %>
    <%= f.input :description, as: :text %>
    <%= f.input :category, collection: [ "Shows", "Cinemas", "Festivais", "Cervejadas", "Outros"] %>
    <%= f.input :price, as: :float %>
    <%= f.input :quantity, as: :integer %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
    
   <% end %>
</div>