<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
      <% if @product.photo.attached? %>
				  <img class="card-img" src="<%= cl_image_path @product.photo.key %>" alt="">
				<% else %>
					<div class="card-img-top">
					<img src="<%= image_path("logo.png") %>" class="card-img-top" style="height: 120px; margin-top: 80px;" alt="...">
			</div>
			<% end %>
        <div class="card-img-overlay d-flex justify-content-end">
          <a href="#" class="card-link text-danger like">
            <i class="fas fa-heart"></i>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= @product.title %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= @product.category %></h6>
          <p class="card-text"> <%= @product.description %></p>
          <div class="options d-flex flex-fill">
          <p>In stock: </p><%= @product.quantity %>
          </div>
          <div>
            <div class="price text-success"><h5 class="mt-4">R$:<%=@product.price%></h5></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <%= simple_form_for [@product, @cart] do |f|%>
              <%= f.submit "add cart", class: "btn btn-primary"%>
            <%end%>